body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Press Start 2P', 'cursive';
  }
  
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #222;
    padding: 20px; 
    margin-bottom: 10px;
    border: 1px solid white;
    width: 100%; 
    max-width: 500px; 
  }
  
  canvas {
    border: 3px solid white;
    background-color: black;
  }
  
  .score-board {
    font-size: 24px;
    margin-top: 10px;
    color: white;
  }
  
  label {
    margin-top: 5px;
  }
  
  input, button {
    margin-top: 5px;
  }
  
  #players {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  #player1, #player2 {
    text-align: center;
  }
  
  
  h2, h3 {
    margin: 0;
    padding: 5px;
    color: white;
  }
 
  button {
    background-color: #6e6e79; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    border-radius: 5px; 
}

.botao-voltar {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #004f0c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  z-index: 4;
}

.botao-voltar:hover {
  background-color: #003a07;
}
.copyright {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 0.7rem;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 4;
}

.copyright a {
  color: #fff;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
}
.botao-mute, .botao-historia {
  position: fixed;
  top: 20px;
  background-color: #004f0c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  z-index: 4;
}

.botao-mute {
  right: 20px;
}

.botao-historia {
  right: 100px;
}

.botao-mute:hover, .botao-historia:hover {
  background-color: #003a07;
}

.botao-toturial {
  position: fixed;
  top: 20px;
  right: 20px; 
  background-color: #004f0c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  z-index: 4;
}

.botao-toturial:hover {
  background-color: #003a07
}
